* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.header,
h1 {
  padding: 30px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
}
.header {
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./container.jpg);
  overflow: scroll;
  background-position: center;
  background-size: cover;
}
#title {
  padding: 3px;
}
button {
  border-radius: 10px;
  border-color: #f1f1f1;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: transparent;
  padding: 5px;
  margin: 10px;
  color: white;
}

::selection {
  color: #ffc6ff;
}

body {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
td,
th {
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 3rem;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* margin: 10px;
  height: 50px; */
}
th[scope="col"] {
  color: cadetblue;
}

a {
  text-decoration: none;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
span a,
span {
  color: black;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  text-align: right;
  margin: 15px;
}
.totop {
  background: transparent;
  position: fixed;
  width: 50px;
  height: 50px;
  color: #6b705c;
  bottom: 16px;
  right: 15px;
  border-radius: 50%;
  font-size: 40px;
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
